body{
    background-image: url('Assets/bg.jpg');
    padding: 0px;
    transition: 0.3s;
}

#watch{
    display: block;
    font-family: sans-serif;
    color: aliceblue;
    text-indent: 10px;
    cursor: pointer;
    transition: 0.4s;
}

#watch:hover{
    color: red;
}

.btn{
    border: 2px black solid;
    width: 20px;
    height: 5px;
}